<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf8"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/types.css">
    <link rel="stylesheet" href="/stylesheets/fonts.css">
    <title>Pokedex</title>
</head>
<body>
<h1 class="pokename">
    <%= pokemon.name %>
    <span class="pokeid"><%= pokemon.pokemon_id %></span>
</h1>
<div class="fullinfogrid">
    <div class="pokeimage-container">
        <img class="pokeimage"
             src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/<%= String(pokemon.pokemon_id).padStart(3, '0') %>.png"
             alt="<%= pokemon.name %>"/>

    </div>
    <div class="description">
        Pellentesque dignissim blandit iaculis. Nullam eleifend molestie nibh ac venenatis. Fusce enim erat, rutrum
        hendrerit varius eget, euismod at purus. In semper tempus feugiat. Morbi orci dolor, pharetra at velit id,
        blandit hendrerit felis. Mauris id porttitor magna. Nullam et convallis orci, non consectetur est.
    </div>
    <div class="miscInfo">
        <div class="info">
            <div class="infoTitle">Height</div>
            <div class="infoData"><%= pokemon.height / 10 %> m</div>
        </div>
        <div class="info">
            <div class="infoTitle">Category</div>
            <div class="infoData"><%= pokemon.category %></div>
        </div>
        <div class="info">
            <div class="infoTitle">Weight</div>
            <div class="infoData">
                <% if (pokemon.weight < 10) { %>
                    <%= pokemon.weight * 100 %> g
                <% } else { %>
                    <%= pokemon.weight / 10 %> kg
                <% } %>
            </div>
        </div>
        <div class="info">
            <div class="infoTitle">Abilities</div>
            <div class="infoData">
                <% for (let ability of [pokemon.ability1, pokemon.ability2, pokemon.ability3]) { %>
                <% if(ability) { %>
                    <div><%= ability %></div>
                <% }
                } %>
            </div>
        </div>
    </div>

    <div class="typeInfo">
        <div>Type</div>
        <div class="type background-color-<%= pokemon.type1.toLowerCase() %>"><%= pokemon.type1 %></div>
        <% if (pokemon.type2) {
        %>
            <div class="type background-color-<%= pokemon.type2.toLowerCase() %>"><%= pokemon.type2 %></div>
        <%
        }
        %>
    </div>
    <div class="statsTable">
        <% for (let stat of ['Attack', 'Defense', 'HP', 'Special Attack', 'Special Defense', 'Speed']) { %>
            <% let statNormalized = pokemon[stat] / 255; %>
            <div class="statName">
                <%= stat %> :
            </div>
            <div class="statBar"
                 style="
                         background-color: hsl(<%= statNormalized * 200 %>,60%,50%);
                         width: <%= statNormalized * 100 %>%;
                         ">
                <%= pokemon[stat] %>
            </div>
        <% } %>
    </div>
</div>
</body>
</html>
